body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}
header {
  background-color: #2d3748;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
nav {
  margin-top: 1rem;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}
nav a:hover {
  text-decoration: underline;
}
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.project {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  margin-bottom: 1.5rem;
}
.project h2 {
  margin-top: 0;
  font-size: 1.4rem;
}
.project p {
  margin: 0.5rem 0;
}
.project a {
  color: #3182ce;
  text-decoration: none;
}
.project a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #888;
}
.project-image {
  width: 100%;
  /* max-width: 600px; */
  /* height: auto; */
  max-height: 200px;
  margin: 15px 0;
  border-radius: 8px;
  object-fit: cover;
}

.figcaption {
  text-align: center;
  color: gray;
  font-size: 0.9em;
}

/* Blog-specific styles */
.post {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  margin-bottom: 1.5rem;
  text-align: center;
}
.post a {
  color: #3182ce;
  text-decoration: none;
}
.post a:hover {
  text-decoration: underline;
}

